#footer {
    background-image: linear-gradient(-45deg, #000000 0%, #485563 100%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    @include padding-y(3rem, 2rem);
    color: whitesmoke;

    .separator {
        @include margin-y(2.5rem, 2rem);
        opacity: 0.7;
    }
    h2{
        text-align: center;
        text-transform: uppercase;
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.footer_wrapper {
    grid-template-columns: 1.4fr repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;

    @include devices(md) {
        grid-template-columns: 1.4fr 1fr;
        justify-items: unset;
        gap: 4rem;
    }

    @include devices(xs) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

.foot_subs {
    p {
        @include margin-y(1rem, 1rem);
        font-size: 0.875rem;
        opacity: 0.9;
    }

    .btn {
        margin-top: 1rem;
    }
}

.foot_menu {
    ul {
        margin-top: 1.8rem;
        display: grid;
        gap: 1rem;

        a {
            font-size: 0.9rem;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.sub_footer_wrapper {
    @include flexbox(space-between, center);

    @include devices(md) {
        @include flexbox();
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

.foot_copyright {
    font-size: 0.95rem;

    a {
        color: #eee;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

.foot_social {
    @include flexbox();
    gap: 2rem;
    font-size: 1.2rem;
    margin-right: 4rem;
}


// newsletter
.btn-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}
.btn-container h3{
    font-size: 18px;
    font-weight: 500 !important;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.btn-container button {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    letter-spacing: .96px;
    padding: 14px;
}
#image-bg{
   background-image: url(images/products/cu5.webp);
   background-size: cover;
   background-color: #cccccc;
   height: 200px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   opacity: .8;
}
.img-news{
    background-image: url(images/products/many.webp);
    background-size: cover;
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .8;
}

// modal cart
